{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 41.152889119426554,
        "longitude": 1.2107813358306887,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Casa",
        "time_zone": "Europe/Madrid",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}